language: node_js
node_js:
    - "5.6.0"
before_script:
  - npm install
  - npm install -g gulp
script: gulp test
before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
cache:
  directories:
    - node_modules
